html {
	color: #323232;
	font: 16px Verdana, sans-serif;
	--button-border-radius: 2px;
}

.container {
	max-width: 960px;
	min-width: 580px;
	margin: auto;
}

header h1 {
	text-align: center;
	text-transform: uppercase;
	color: dodgerblue;
	font-size: 3rem;
	font-weight: 800;
	padding-top: 40px;
	text-shadow: 2px 1px 5px #00000096;

}

.play-stop-buttons {
	display: block;
	text-align: center;
	padding-top: 90px;
}

#play-btn, #stop-btn {
	padding: 20px;
	margin: 20px;
}

.eq-band-types {
	display: flex;
	justify-content: space-around;
	padding-top: 120px;
}

.eq-bands {
	padding: 10px;
	border-radius: var(--button-border-radius);
	font-weight: 800;
}

.eq-params {
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
}

.eq-slider-columns {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.eq-sliders {
	border: 1px solid;
	padding: 15px;
}

.master-volume {
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-top: 120px;
	max-width: 300px;
	margin: auto;
}

#master-volume-slider {
	margin-top: 20px;
}



